<section class="mwt-module mwt-how-to-donate">
    <div class="mwt-module__content">
        <header>
            <h2 class="mwt-how-to-donate-header__title">How to Donate</h2>
            <p class="mwt-how-to-donate-header__memo">Please chose from the information below where would you like to Donate</p>
        </header>

        <div class="mwt-layout">

            <div class="mwt-layout__item mwt-1/2@m">
                <p><strong>United Kingdom</strong></p>
                <p>Name of Account: Mushtaq Welfare Society</p>
                <ul>
                    <li>Account No: 62554646</li>
                    <li>Sort Code: 010978</li>
                </ul>

            </div>


            <div class="mwt-layout__item mwt-1/2@m">
                <p><strong>Pakistan</strong></p>
                <p>Name of Account: Mushtaq Welfare Society</p>
                <ul>
                    <li> UBL Main Branch</li>
                    <li>Khanewal, Pakistan</li>
                    <li>Sort Code: 0204</li>
                    <li>Account No: 01180707</li>
                    <li>Swift Code: UNILIPKKA</li>
                </ul>
            </div>
        </div>
    </div>
</section>
